# OKP4 {{ (ds "data").name }} schema

> Generated typescript types for [{{ (ds "data").contract_name }} contract](https://github.com/okp4/contracts/tree/{{ (ds "data").ref }}/contracts/{{ (ds "data").contract_name }}).

[![version](https://img.shields.io/github/v/release/okp4/okp4-contract-schema?style=for-the-badge&logo=github)](https://github.com/okp4/okp4-contract-schema/releases)
[![build](https://img.shields.io/github/actions/workflow/status/okp4/okp4-contract-schema/build.yml?branch=main&label=build&style=for-the-badge&logo=github)](https://github.com/okp4/okp4-contract-schema/actions/workflows/build.yml)
[![lint](https://img.shields.io/github/actions/workflow/status/okp4/okp4-contract-schema/lint.yml?branch=main&label=lint&style=for-the-badge&logo=github)](https://github.com/okp4/okp4-contract-schema/actions/workflows/lint.yml)
[![test](https://img.shields.io/github/actions/workflow/status/okp4/okp4-contract-schema/test.yml?branch=main&label=test&style=for-the-badge&logo=github)](https://github.com/okp4/okp4-contract-schema/actions/workflows/test.yml)
[![conventional commits](https://img.shields.io/badge/Conventional%20Commits-1.0.0-yellow.svg?style=for-the-badge&logo=conventionalcommits)](https://conventionalcommits.org)
[![semantic-release](https://img.shields.io/badge/%20%20%F0%9F%93%A6%F0%9F%9A%80-semantic--release-e10079.svg?style=for-the-badge)](https://github.com/semantic-release/semantic-release)
[![contributor covenant](https://img.shields.io/badge/Contributor%20Covenant-2.1-4baaaa.svg?style=for-the-badge)](https://github.com/okp4/.github/blob/main/CODE_OF_CONDUCT.md)
[![License](https://img.shields.io/badge/License-BSD_3--Clause-blue.svg?style=for-the-badge)](https://opensource.org/licenses/BSD-3-Clause)

## Usage 

First add or install the module to your existing project using either `yarn` or `npm`. 

```bash
yarn add @okp4/{{ (ds "data").schema_name }}
```

or 
```bash
npm install --save @okp4/{{ (ds "data").schema_name }}
```

Then import wanted type : 

```typescript
import type { InstantiateMsg } from "@okp4/{{ (ds "data").schema_name }}";
```

---

{{ (ds "data").docs }}

